*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color-alt);
  color: var(--main-color);
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Class CSS */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  display: block;
  font-size: var(--h1-font-size);
  color: var(--main-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-weight: var(--font-medium);
  color: var(--second-color);
  margin-bottom: var(--mb-1);
}

/* Layout */
.bd-container {
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--title-color);
}
