@import "index.css";
@import "utils.css";

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Navigation Bar */
.nav {
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--title-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__logo {
  width: 75px;
  margin-top: 5px;
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__toggle {
  color: var(--main-color);
  font-weight: var(--font-medium);
}

.nav__link {
  transition: 0.15s;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__link:hover,
.nav__toggle:hover {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

/* change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

/* Scrool top */

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--second-color);
  color: var(--title-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  opacity: 0.8;
  visibility: hidden;
}

.scrolltop:hover {
  opacity: 1;
}

.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/* Home */
.home__container {
  background-color: var(--title-color);
  width: 100%;
  margin: 0;
  padding: 5%;
  height: calc(100vh - --header-height);
  align-content: center;
  padding-top: calc(var(--header-height) + 5%);
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  justify-self: center;
}

/* Button */
.cta-btn {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 10px 30px;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.cta-btn:hover {
  border: 2px solid var(--first-color);
  font-weight: var(--font-semi-bold);
  background-color: var(--title-color);
  color: var(--first-color);
}

/* Services sections */
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-bottom: 0;
}

.services__content {
  text-align: center;
}

.services__icon {
  font-size: 64px;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
}

.services__description {
  color: var(--main-color-light);
  padding: 0 1.5rem;
}

/* Pricing + testimonial section */
.pricing__container,
.testemonials__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  padding: 20px 7% 70px 7%;
  text-align: center;
}

.pricing__content,
.testimonials__content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 2px 7px rgba(36, 37, 46, 0.2);
  padding: 0.75rem;
}

/* Testimonial */
.testimonials__content {
  padding: 40px;
  background-color: var(--title-color);
  align-items: center;
}

.testimonial__img {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testemonial__discription {
  color: var(--para-color);
  font-style: italic;
}

.testemonial__title {
  margin-top: 20px;
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

/* Pricing */
.plan__name {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.price {
  font-weight: var(--font-medium);
  background-color: var(--main-color-light);
  color: var(--title-color);
  margin: 5px 25% 5px 25%;
}

.plan__details {
  font-size: var(--small-font-size);
}

.price-btn {
  margin: 5px 20%;
}

/* Footer Section */
.footer {
  padding: 50px 0 20px;
  text-align: center;
  background-color: var(--main-color);
}

.social-icon {
  font-size: 42px;
  margin: 0 5px;
  color: var(--main-color-alt);
}

.social-icon:hover {
  font-size: 38px;
  border-bottom: 1px solid var(--second-color);
}
.footer-title {
  color: var(--main-color-alt);
  font-size: 16px;
}

/* <<<<<< Media quaries >>>>>> */

/* Small devices */
@media only screen and (min-width: 576px) {
  .home__img,
  .home__data {
    width: 80%;
  }

  .pricing__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100vh;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .home__img,
  .home__data {
    width: 100%;
  }

  .services__container,
  .testemonials__container,
  .pricing__container {
    margin-top: var(--mb-6);
  }

  .testemonials__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* Large devices */

@media only screen and (min-width: 992px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding: 0 3%;
  }

  .pricing__container,
  .testemonials__container {
    grid-template-columns: repeat(3, 1fr);
  }

  #pricing {
    padding: 5% 0;
  }
}
